<h1>You want facts!?!</h1>
<h2>Because we got em</h2>
<h3>Seriously</h3>
<button (click)="getSlowInformation()" id="interestingFactButton">
  Click le button
</button>
<p
  id="interestingFact"
  *ngIf="(slowInformation | async)"
  [ngClass]="{
    wow: (slowInformation | async)?.fact.interestLevel === 'interesting',
    'moar-wow':
      (slowInformation | async)?.fact.interestLevel === 'reallyInteresting',
    'ruseeerious-thats-amazing':
      (slowInformation | async)?.fact.interestLevel ===
      'holyCrudThatIsInteresting'
  }"
>
  {{ (slowInformation | async)?.topic }}
  {{ (slowInformation | async)?.fact.body }}
</p>
<marquee *ngIf="loading">loading you some sweet facts user</marquee>
<button
  *ngIf="
    (slowInformation | async)?.fact.interestLevel ===
    'holyCrudThatIsInteresting'
  "
  (click)="showMoreInfo = 'true'"
>
  Show more information around this especially interesting fact?
</button>
<p *ngIf="showMoreInfo">More Information</p>
